@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    background:#FAEBC8;
}

section{
    background: white;
    width: 70%;
    margin: 15% auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
    text-align: center;
}

section article {
    display: inline-block;
    width: 22%;
    vertical-align: top;
    margin: 10px;
}

section article img {
    width: 60%;
}

section article p {
    text-align: left;
    height: 240px;
}

section .author {
    height: auto;
    color: #a6736a;
    font-weight: bold;
    text-shadow: 26px 20px 2px rgba(150,150,150,1);
}